<div class="container full-section6">
	<div class="news">
			<div class="news-header">
				<h2>Новости</h2>
				<div class="btn-box"><button><img src="./svg/arrowbtn.svg" alt="" style="opacity: .5; transform: rotate(180deg);"></button><button><img src="./svg/arrowbtn.svg" alt="" style="opacity: .5;"></button></div>
			</div>
			<div class="news-content">
				<div class="news-item f-new">
					<img class="news-img" src="./img/news-img.png" alt="">
					<div class="news-description">
					<div class="news-description__date">16 июня 2020</div>
					<h2 class="news-description__header">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h2>
					<p class="news-description__content">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
					<a href=""><button class="read-button">Читать</button></a>
					</div>
				</div>
				<div class="news-item s-new">
					<img class="news-img" src="./img/news-img2.png" alt="">
					<div class="news-description">
					<div class="news-description__date">16 июня 2020</div>
					<h2 class="news-description__header">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h2>
					<p class="news-description__content">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
					<a href=""><button class="read-button">Читать</button></a>
					</div>
				</div>
			<div class="news-item t-new">
			<img class="news-img" src="./img/news-img3.png" alt="">
			<div class="news-description">
				<div class="news-description__date">16 июня 2020</div>
				<h2 class="news-description__header">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h2>
				<p class="news-description__content">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
				<a href=""><button class="read-button">Читать</button></a>
			</div>
		</div>
		</div>
			<a href="" class="news-footer">Показать все новости</a>
		</div>
</div>