<div class="container full-section3">
	<div class="text-content"><p style="display: inline;">{% include '@assets/svg/orangeafter2.svg'%}Скидка <span>200 ₽</span> при </p> подписке <br> на рассылку Издательства</div>
	<form class="form-content" action="">
		<input type="text" placeholder="Введите ваш Email"><button type="submit">Подписаться</button>
	</form>
</div>