<div class="slider">
	<div class="slider-pics">
		<div class="slider-pics__pic first-pic"></div>
		<div class="slider-pics__pic second-pic"></div>
		<div class="slider-pics__pic third-pic"></div>
		<div class="slider-pics__pic fourth-pic"></div>
	</div>
	<div class="slider-navigation desktop-slider">
		<button class="slider__left-btn" onclick="o2.slider.leftslide(this)"></button>
		<nav class="">
			<ul class="slider-slides desktop-slider">
				<li class="slider-slides__item first-slide" onclick="o2.slider.sliderpick(this)"></li>
				<li class="slider-slides__item second-slide" onclick="o2.slider.sliderpick(this)"></li>
				<li class="slider-slides__item third-slide" onclick="o2.slider.sliderpick(this)"></li>
				<li class="slider-slides__item fourth-slide" onclick="o2.slider.sliderpick(this)"></li>
			</ul>
		</nav>
		<button class="slider__right-btn" onclick="o2.slider.rightslide(this)"></button>
	</div>
</div>