footer.container
{
	width: 100%;
	max-width: none;
	display: flex;
	flex-direction: column;
	background-color: rgba(28, 41, 77, .05);
	margin: 0;
	padding: 0;
	&>div:not(.footer__nocolor-block)
	{
		background-color: white;
	}
}

.desktop-version__navigation
{
	display: none;
	width: 100%;
	padding: 0 20px;
}

.desktop-input
{
	display: none;
}

.dfooter-navigation
{
	width: 100%;
	display: flex;
	max-width: 1140px;
	margin: 0 auto;
	padding: 45px 0 40px 0;
	border-bottom: 1px solid rgba(28, 41, 77, .15);
}

.price-pdf
{
	line-height: 5px;
	display: flex;
	img
	{
		margin-right: 5px;
	}
	p:first-child
	{
		color: rgba(40, 47, 54, .8);
		font-size: 14px;
	}
	p:last-child
	{
		color: rgba(40, 47, 54, .5);
		font-size: 12px;
	}
	.pdf-description
	{
		position: relative;
		top: 1px;
	}
}

.dfooter-navigation__block
{
	width: 165px;
	margin-right: 30px;
	a
	{
		color: rgba(40, 47, 54, .8);
		font-size: 14px;
		display: flex;
	}
	h2
	{
		color: #1C294D;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	li:not(li:last-child)
	{
		margin-bottom: 15px;
	}
}

.phonenmail-block
{
	p
	{
		margin: 0;
		margin-left: 8px;
	}
}




.footer-links
{
	width: 100%;
}

.footer-links__item
{
	margin: 0 auto;
	padding: 20px 0;
	display: grid;
	place-items: center;
	max-width: 1140px;
}

.footer-media
{
	width: 100%;
	height: 81px;
	border-bottom: 1px solid rgba(28, 41, 77, .15);
}

.footer-media__box
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 150px;
	height: 40px;
	a
	{
		height: 40px;
		width: 40px;
	}
}

.media__box-desktop
{
	display: none;
}

.footer-newsletter__box
{
	width: 335px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-newsletter-form
{
	width: 270px;
	height: 40px;
	display: flex;
	border-radius: 5px;
	overflow: hidden;
	input
	{
		width: 220px;
		height: 40px;
		border: 0;
		padding-left: 15px;
		color: black;
		border-radius: 5px 0 0 5px;
		font-size: 14px;
		border: 1px solid rgba(42, 61, 72, .15);
		&:placeholder
		{
			color: #282F36;
			opacity: .5;
			font-size: 14px;
		}
	}
	button
	{
		width: 50px;
		height: 40px;
		display: grid;
		place-items: center;
		background-color: #FF5C00;
		border: 0;
	}
}

.footer-navigation
{
	display: flex;
	nav{
		width: 100%;
	}
}

.footer-nav
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid rgba(42, 61, 72, .15);
	border-bottom: 1px solid rgba(42, 61, 72, .15);
	li
	{
		padding: 20px 0;
		height: 25%;
		width: 91%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		a
		{
			color: #2A3D48;
			font-size: 16px;
		}
	}
	li+li
	{
		border-top: 1px solid rgba(42, 61, 72, .15);;
	}
}

.footer-nav2
{
	display: none;
}

.footer-agreement
{
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgba(42, 61, 72, .15);
	a
	{
		font-size: 14px;
		color: rgba(28, 41, 77, .5);
	}
	a:first-child
	{
		margin-bottom: 10px;
	}
}

.footer-contacts
{
	ul
	{
		width: 100%;
		li
		{
			height: 61px;
			padding: 20px;
			border-bottom: 1px solid rgba(42, 61, 72, .15);
			display: flex;
			align-items: center;
			color: #1C294D;
			font-size: 14px;
			img
			{
				margin-right: 5px;
			}
		}
	}
}

.footer-copyright
{
	width: 100%;
	padding: 0 20px;
	font-size: 14px;
	p{color: rgba(28, 41, 77, .5);}
}
.footer-copyright__box
{
	div
	{
		display: none;
	}
	margin: 0 auto;
	width: 100%;
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
}

@include mq(500)
{
	.footer-newsletter__box
	{
		width: 85%;
	}
	.footer-newsletter-form
	{
		width: 81%;
		input
		{
			width: 100%;
		}
	}
}

@include mq(600)
{
	.footer-media
	{
		display:none;
	}
	.footer-newsletter__box
	{
		width: 91%;
	}
	.media__box-desktop
	{
		width: 130px;
	}
	.newsletter__box-img
	{
		width: 130px;
		height: 40px;
		img
		{
			height: 40px;
		}
	}
	.footer-newsletter-form
	{
		width: 47%;
		max-width: 443px;
	}
	.media__box-desktop
	{
		display: flex;
	}
}

@include mq(770)
{
	.media__box-desktop
	{
		width: 150px;
	}
	.newsletter__box-img
	{
		width: 150px;
	}
}

@include mq(1150)
{
	.mobile-version__navigation
	{
		display:none;
	}
	.price-block
	{
		position: relative;
		div
		{
			position: relative;
			top: -4px;
			left: 3px;
		}
	}
	.desktop-version__navigation
	{
		display: flex;
	}
	footer .desktop-input
	{
		display: block;
		width: 393px;
	}
	.mobile-input
	{
		display: none;
	}
	.footer-nav
	{
		li
		{
			width: 100%;
			height: 50%;
			padding: 20px 25px;
		}
	}
	.footer-links
	{
		padding:0 30px;
	}
	.footer-links__item
	{
		padding:25px 0;
	}
	.footer-newsletter-form
	{
		position: relative;
		left: -1px;
		width: 443px;
		button
		{
			width: 50px;
		}
	}
	.footer-newsletter__box
	{
		width: 100%;
	}
	.footer-nav1
	{
		li:nth-child(3),li:nth-child(4)
		{
			display:none;
		}
	}
	.footer-nav2
	{
		display:flex;
		border-left: 1px solid rgba(42, 61, 72, .15);

	}
	.footer-agreement
	{
		flex-direction: row;
		justify-content: space-between;
		a:first-child
		{
			margin: 0;
		}
	}
	.footer-contacts li:nth-child(3)
	{
		display: none;
	}
	.footer-copyright
	{
		padding: 32px 20px 45px 20px;
	}
	.footer-copyright__box
	{
		justify-content: space-between;
		div
		{
			w
			p{color: rgba(28, 41, 77, .8);}
			display: flex;
			p:nth-child(3)
			{
				margin-left: 32px;
			}
			p:nth-child(2)
			{
				margin-left: 68px;
			}
		}
	}
}









