<footer class="container">
	<div class="footer-links footer__nocolor-block">
		<div class="footer-links__item footer-media">
			<div class="footer-media__box">
				<a href=""><img src="./svg/facebook.svg" alt=""></a>
				<a href=""><img src="./svg/vk.svg" alt=""></a>
				<a href=""><img src="./svg/inst.svg" alt=""></a>
			</div>
		</div>
		<div class="footer-links__item footer-newsletter">
		<div class="footer-newsletter__box">
			<div class="newsletter__box-img">
				<img src="./img/status.png" alt="">
			</div>
			<form class="footer-newsletter-form" action="">
				<input type="text" placeholder="Подписаться на рассылку" class="mobile-input"><input type="text" placeholder="Введите свой Email и получите скидку" class="desktop-input"><button type="submit"><img src="./svg/send.svg" alt=""></button>
			</form>
			<div class="footer-media__box media__box-desktop">
				<img src="./svg/facebook-trans.svg" alt="">
				<img src="./svg/inst-trans.svg" alt="">
				<img src="./svg/twitter-trans.svg" alt="">
			</div>
		</div>
		</div>
	</div>

	{# :::::::mobile version::::::: #}
	<div class="mobile-version__navigation">
		<div class="footer-navigation">
		<nav>
			<ul class="footer-nav footer-nav1">
				<li><a href="">Покупателям</a><img src="./svg/arrowdwn.svg" alt=""></li>
				<li><a href="">Издательство</a><img src="./svg/arrowdwn.svg" alt=""></li>
				<li><a href="">Книги</a><img src="./svg/arrowdwn.svg" alt=""></li>
				<li><a href="">Прайс-лист</a><img src="./svg/arrowdwn.svg" alt=""></li>
			</ul>
		</nav>
		<nav class="footer-nav2">
			<ul class="footer-nav">
				<li><a href="">Книги</a><img src="./svg/arrowdwn.svg" alt=""></li>
				<li><a href="">Прайс-лист</a><img src="./svg/arrowdwn.svg" alt=""></li>
			</ul>
		</nav>
	</div>
	<div class="footer-agreement">
		<a href="">Политика конфиденциальности</a>
		<a href="">Договор оферты</a>
	</div>
	<div class="footer-contacts">
		<ul>
			<li><img src="./svg/phone.svg" alt="">8 (968) 660-65-50 <img src="./svg/info.svg" alt="" style="margin-left: 5px;"></li>
			<li><img src="./svg/mail.svg" alt="">market@estatut.ru</li>
			<li><img src="./svg/gps.svg" alt="" style="margin-left: 2px; margin-right: 9px;">ул. Лобачевского, 92, корп. 2 119454, г. Москва</li>
		</ul>
	</div>
	</div>
	{# :::::::mobile version::::::: #}


	{# :::::::desktop version::::::: #}
	<div class="desktop-version__navigation">
		<nav class="dfooter-navigation">
			<div class="dfooter-navigation__block owners-block">
				<h2>Покупателям</h2>
				<ul>
					<li><a href="">Наша почта</a></li>
					<li><a href="">Оплата и доставка</a></li>
					<li><a href="">Вопросы и ответы</a></li>
				</ul>
			</div>
			<div class="dfooter-navigation__block publish-block">
				<h2>Издательство</h2>
				<ul>
					<li><a href="">О компании</a></li>
					<li><a href="">Авторам</a></li>
					<li><a href="">Вакансии</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="dfooter-navigation__block books-block">
				<h2>Книги</h2>
				<ul>
					<li><a href="">Все категории</a></li>
					<li><a href="">Бестселлеры</a></li>
					<li><a href="">Новинки</a></li>
					<li><a href="">Скидки и акции</a></li>
				</ul>
			</div>
			<div class="dfooter-navigation__block price-block">
				<h2>Прайс-лист</h2>
				<div>
				<a href="" class="price-pdf">
					<img src="./svg/pdf.svg" alt="">
					<div class="pdf-description">
						<p>Скачать прайс-лист</p>
						<p>PDF, 12 Mb </p>
					</div>
				</a>
				</div>
			</div>
			<div class="dfooter-navigation__block phonenmail-block">
				<h2>Телефон и Email</h2>
				<ul>
					<li><a href=""><img src="./svg/mail.svg" alt=""><p>market@estatut.ru</p></a></li>
					<li><a href=""><img src="./svg/phone.svg" alt=""><p>8 (968) 660-65-50</p></a></li>
				</ul>
			</div>
		</nav>
	</div>




	{# :::::::desktop version::::::: #}
	<div class="footer-copyright">
		<div class="footer-copyright__box">
			<p>© 2020 Издательство «Статут»</p>
			<div class="footer-copyright__box-dbox">
				<p>ул. Лобачевского, 92, корп. 2 119454, г. Москва</p>
				<p>Политика конфиденциальности</p>
				<p>Договор оферты</p>
			</div>
		</div>
	</div>
</footer>