<div class="container full-section">
	<div class="slider" title="ddd">
		<button class="desktop-slider slider__left-btn" onclick='o2.firstSection.sliderleft()'></button>
		<nav class="desktop-slider">
			<ul class="slider-slides desktop-slider">
				<li class="slider-slides__item first-slide"></li>
				<li class="slider-slides__item second-slide"></li>
				<li class="slider-slides__item third-slide"></li>
				<li class="slider-slides__item fourth-slide"></li>
			</ul>
		</nav>
		<button class="desktop-slider slider__right-btn" style="transform: rotate(180deg);" onclick="o2.firstSection.sliderright()"></button>
	</div>
	<div class="daybook">
		<div class="daybook-header">
			<p>Книга дня</p><div class="daybook-timer">08:56:31</div>
		</div>
		<div class="daybook-img"></div>
		<div class="daybook-description">
			<p class="type-of-book">Корпоративное право</p>
			<h2 class="name-of-book">Инвестирование: способы, риски, субъекты : монография</h2>
			<p class="author-of-book">Майфат А.В.</p>
			<p class="price-of-book">4 450 ₽ </p>
		</div>
		<div class="buynfav">
			<a href=""><button class="buynfav-btn buynfav-btn__buy"><img src="./svg/cart2.svg" alt="">В корзину</button></a>
			<a href=""><button class="buynfav-btn buynfav-btn__fav"><img src="./svg/fav.svg" alt=""></button></a>
		</div>
	</div>
	<div class="bonuses-box">
		<div class="bonuses-box__item delivery">
		<p><span>Бесплатно доставим ваш заказ при покупке от 2000 ₽</span></p>
		<img src="./svg/akcia1.svg" alt="">
	</div>
	<div class="bonuses-box__item discount">
		<p>Скидка <br class="desktop-br">при регистрации <span>до 15%</span></p>
		<img src="./svg/akcia2.svg" alt="">
	</div>
	</div>
</div>