<div class="container full-section5">
	<div class="advantages">
		<div class="advantages-item">
			<div><img class="advantages-img" src="./img/time.png" alt=""></div>
			<p class="advantages-description"><span>Быстрая доставка</span><br>Доставим бесплатно <br class="desktop-br"> от 2000 ₽ по всей России</p>
		</div>
		<div class="advantages-item">
			<div><img class="advantages-img" src="./img/star.png" alt=""></div>
			<p class="advantages-description"><span>Бонусная программа<br></span>Дополнительная скидка 15% при регистрации</p>
		</div>
		<div class="advantages-item">
			<div><img class="advantages-img" src="./img/packet.png" alt=""></div>
			<p class="advantages-description"><span>Большой выбор<br></span>Ежегодно выходит в свет <br>более 100 <span class="mobile-span">наименований</span> книг</p>
		</div>
		<div class="advantages-item">
			<div><img class="advantages-img" src="./img/card.png" alt=""></div>
			<p class="advantages-description"><span>Безопасная оплата<br></span>Плати безопасно и легко онлайн на нашем сайте</p>
		</div>
	</div>
</div>