<div class="container full-section2">
	<div class="newadmissions">
		<div class="newadmissions-header">
			<h2>{{ title }}</h2>
			<div class="btn-box"><button><img src="./svg/arrowbtn.svg" alt="" style="opacity: .5; transform: rotate(180deg);"></button><button><img src="./svg/arrowbtn.svg" alt="" style="opacity: .5;"></button></div>
		</div>
		<div class="newadmissions-box">
			<div class="newadmissions-item">
					<div class='newadmissions-book first-item'><img src="./img/North-to-South.png" alt=""></div>
					<div class="newadmissions-description">
					<p class="type-of-book">Корпоративное право</p>
					<h2 class="name-of-book name-of-book-mobile">Инвестирование: способы, риски, субъекты : монограф...</h2>
					<h2 class="name-of-book name-of-book-desktop">Инвестирование: способы, <br class="br-desktop"> риски, субъекты : монография</h2>
					<p class="author-of-book">Майфат А.В.</p>
					<p class="price-of-book">4 450 ₽ </p>
				</div>
				<div class="reviews">
					<div class="reviews-starbox">{% include '@assets/svg/star.svg'%}4.9</div>
					<div class="reviews-recomendbox"><img src="./svg/like.svg" alt="">89% рекомендуют</div>
				</div>
				<div class="buynfav buynfav__adm">
					<button class="buynfav-btn buynfav-btn__buy buynfav-btn__buy__adm"><img src="./svg/cart2.svg" alt="">В корзину</button>
					<button class="buynfav-btn buynfav-btn__fav buynfav-btn__fav__adm"><img src="./svg/fav.svg" alt=""></button>
				</div>
			</div>
			<div class="newadmissions-item">
				<div class='newadmissions-book second-item' style="position: relative;"><img src="./img/Vitya.png" alt=""></div>
				<div class="newadmissions-description">
					<p class="type-of-book">Договорное право</p>
					<h2 class="name-of-book name-of-book-mobile">Договор коммерческой концессии (франчайзинг). Граж...</h2>
					<h2 class="name-of-book name-of-book-desktop">Договор коммерческой <br class="desktop-br">  концессии (франчайзинг). Граж...</h2>
					<p class="author-of-book">Багдасарян А.Ф.</p>
					<p class="price-of-book">372 ₽ </p>
				</div>
				<div class="reviews">
					<div class="reviews-starbox">{% include '@assets/svg/star.svg'%}4.9</div>
					<div class="reviews-recomendbox"><img src="./svg/like.svg" alt="">89% рекомендуют</div>
				</div>
				<div class="buynfav buynfav__adm">
					<button class="buynfav-btn buynfav-btn__buy buynfav-btn__buy__adm"><img src="./svg/cart2.svg" alt="">В корзину</button>
					<button class="buynfav-btn buynfav-btn__fav buynfav-btn__fav__adm"><img src="./svg/fav.svg" alt=""></button>
				</div>
			</div>
			<div class="newadmissions-item third-item">
				<div class='newadmissions-book'><img src="./img/Bejin-lug.png" alt=""></div>
				<div class="newadmissions-description">
					<p class="type-of-book">Конкурентное право</p>
					<h2 class="name-of-book name-of-book-mobile">Договор коммерческой концессии (франчайзинг). Граж...</h2>
					<h2 class="name-of-book name-of-book-desktop">Договор коммерческой <br class="desktop-br"> концессии (франчайзинг). Граж...</h2>
					<p class="author-of-book">Башлаков-Николаев И.В.</p>
					<p class="price-of-book">984 ₽ <span>1 284 ₽</span><span>Выгода 300 ₽</span></p>
				</div>
				<div class="reviews">
					<div class="reviews-starbox">{% include '@assets/svg/star.svg'%}4.9</div>
					<div class="reviews-recomendbox"><img src="./svg/like.svg" alt="">89% рекомендуют</div>
				</div>
				<div class="buynfav buynfav__adm">
					<button class="buynfav-btn buynfav-btn__buy buynfav-btn__buy__adm"><img src="./svg/cart2.svg" alt="">В корзину</button>
					<button class="buynfav-btn buynfav-btn__fav buynfav-btn__fav__adm"><img src="./svg/fav.svg" alt=""></button>
				</div>
			</div>
			<div class="newadmissions-item">
				<div class='newadmissions-book fourth-item'><img src="./img/North-to-South.png" alt=""></div>
				<div class="newadmissions-description">
					<p class="type-of-book">Корпоративное право</p>
					<h2 class="name-of-book name-of-book-mobile">Инвестирование: способы, риски, субъекты : монограф...</h2>
					<h2 class="name-of-book name-of-book-desktop">Инвестирование: способы, риски, субъекты : монография</h2>
					<p class="author-of-book">Майфат А.В.</p>
					<p class="price-of-book price-mobile">4 450 ₽ </p>
					<p class="price-of-book price-desktop">450 ₽ </p>
				</div>
				<div class="reviews">
					<div class="reviews-starbox">{% include '@assets/svg/star.svg'%}4.9</div>
					<div class="reviews-recomendbox"><img src="./svg/like.svg" alt="">89% рекомендуют</div>
				</div>
				<div class="buynfav buynfav__adm">
					<button class="buynfav-btn buynfav-btn__buy buynfav-btn__buy__adm"><img src="./svg/cart2.svg" alt="">В корзину</button>
					<button class="buynfav-btn buynfav-btn__fav buynfav-btn__fav__adm"><img src="./svg/fav.svg" alt=""></button>
				</div>
			</div>
		</div>
		<a href="" class="newadmissions-footer mobile-footer">Показать все книги</a>
		<a href="" class="newadmissions-footer desktop-footer">Показать все книги раздела</a>
	</div>
</div>